<% if @stock%>
     <div class="card card-header results">
      <strong>Symbol :</strong><%=@stock.ticker%>
      <strong>name :</strong><%=@stock.name%>
      <strong>last price:</strong><%=@stock.last_price%>
    </div> 
 <%end%>